<div class="left-menu py-32">
  <img
    class="mb-32 ps-32"
    src="/assets/images/logo-ANSWER.svg"
    alt="logo-ANSWER"
  />
  <ul class="mb-360">
    <li class="mb-24">
      <a href="#" class="d-flex text-black fw-bold ms-32">
        <span class="material-icons-outlined me-16"> bar_chart </span>
        <p>Dashboard</p>
      </a>
    </li>
    <li class="mb-24">
      <a href="#" class="d-flex text-black fw-bold ms-32">
        <span class="material-icons-outlined me-16">
          question_answer
        </span>
        <p>Question</p>
      </a>
    </li>
    <li class="d-flex mb-24">
      <a href="#" class="d-flex text-black fw-bold ms-32">
        <span class="material-icons-outlined me-16"> assignment </span>
        <p>Assignment</p>
      </a>
    </li>
    <li class="d-flex mb-24">
      <a href="#" class="d-flex text-black fw-bold ms-32">
        <span class="material-icons-outlined me-16"> video_library </span>
        <p>Course</p>
        </a>
    </li>
    <li class="d-flex mb-24">
      <a href="index.html" class="d-flex fw-bold <%= page === 'admin' ? 'left-menu-Admin' : 'text-black ms-32' %>">
        <span class="material-symbols-outlined me-16"> group </span>
        <p>Admin</p>
        </a>
    </li>
    </li>
    <li class="d-flex">
      <a href="settings.html" class="d-flex fw-bold <%= page === 'settings' ? 'left-menu-Admin' : 'text-black ms-32' %>">
        <span class="material-icons-outlined me-16"> settings </span>
        <p>Settings</p>
        </a>
    </li>
  </ul>
  <div class="personalInformation d-flex align-items-center ps-32">
    <img
      class="me-16"
      src="/assets/images/andychen.jpeg"
      alt="andychen"
    />
    <div class="personal-content">
      <h2 class="fs-6">Andy Chen</h2>
      <p class="text-secondary fs-14">andy0401@mail.com</p>
    </div>
  </div>
</div>