.left-menu {
  // width: 23.125%;
  background-color: #F8F9FA;
}
.left-menu-Admin{
  border-left: 4px solid #198754;
  padding-left: 28px;
}
.personalInformation {
  img {
    width: 40px;
    height: 40px;
    border-radius: 24px;
  }
}
.right-content {
  width: 100%;
}
.admin-header {
  width: 100%;
  ul {
    width: 100%;
  }
}
.admin-table {
  th {
    font-size: 16px;
  }
  td {
    height: 55px;
  }
}
