.right-content {
  width: calc((100% - 296px));
}
.admin-header {
  width: 100%;
  ul {
    width: 100%;
  }
}
.admin-table {
  th {
    font-size: 16px;
  }
  td {
    height: 55px;
  }
}
.admin{
  nav a{
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #198754;
  }
}
