<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- 長條圖 -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!-- 人員 -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Castoro&family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Main-Admin</title>
  </head>
  <body>
    <div class="admin d-flex">
      <%- include('./layout/sidebar', {page: "settings"}); -%>
      <div class="right-content">
        <div class="container">
          <h2>我是settings</h2>
          <hr>
          <h3 class="mb-24">EJS 測試  <span class="fs-14 text-secondary">請助教無視這段落</span></h3>
          <%
            var user = {
              name: 'how bro',
              age: 30
            }
          %>
          <% if (user) { %>
            <h4>使用者名稱為：<%= user.name %></h4>
          <% } %>
  
        </div>
      </div>
    <script type="module" src="../main.js"></script>
  </body>
</html>